version: "3.5"
services:

  #
  # DMaaP Message Router
  #

  message-router-zookeeper:
    image: wurstmeister/zookeeper
    ports:
    - "2181:2181"

  message-router-kafka:
#    image: nexus3.onap.org:10001/onap/dmaap/kafka01101:0.0.1
    image: wurstmeister/kafka
    ports:
    - "9092:9092"
    environment:
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ZOOKEEPER_CONNECT: "message-router-zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL_PLAINTEXT:PLAINTEXT,EXTERNAL_PLAINTEXT:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL_PLAINTEXT://message-router-kafka:9092"
      KAFKA_LISTENERS: "INTERNAL_PLAINTEXT://0.0.0.0:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL_PLAINTEXT"
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
    - message-router-zookeeper


  #
  # Consul / CBS
  #

  consul-server:
    image: docker.io/consul:1.0.6
    ports:
    - "8500:8500"
    command: ["agent","-bootstrap", "-client=0.0.0.0", "-server", "-ui"]

  consul-config:
    image: consul
    depends_on:
    - consul-server
    restart: on-failure
    command: ["kv", "put", "-http-addr=http://consul-server:8500", "veshv-config", '{
                                              "collector.routing": [
                                                {
                                                  "fromDomain": "perf3gpp",
                                                  "toTopic": "HV_VES_PERF3GPP"
                                                }
                                              ]
                                            }']


  #
  # DCAE HV VES Collector
  #

  ves-hv-collector:
    image: onap/org.onap.dcaegen2.collectors.hv-ves.hv-collector-main:latest
    ports:
    - "6060:6060"
    - "6061:6061/tcp"
    command: ["--listen-port", "6061",
              "--health-check-api-port", "6060",
              "--config-url", "http://consul-server:8500/v1/kv/veshv-config?raw=true",
              "--kafka-bootstrap-servers", "message-router-kafka:9092",
              "--key-store-password", "onaponap",
              "--trust-store-password", "onaponap",
              "--first-request-delay", "2",
              "--log-level", "DEBUG"]
    environment:
      JAVA_OPTS:  "-Dio.netty.leakDetection.level=paranoid"
    healthcheck:
      test: curl -f http://localhost:6060/health/ready || exit 1
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 20s
    depends_on:
    - message-router-kafka
    - consul-config
    volumes:
    - ./ssl/:/etc/ves-hv/


  #
  # Simulators
  #

  xnf-simulator:
    image: onap/org.onap.dcaegen2.collectors.hv-ves.hv-collector-xnf-simulator
    ports:
    - "6062:6062/tcp"
    command: ["--listen-port", "6062",
              "--ves-host", "ves-hv-collector",
              "--ves-port", "6061",
              "--key-store", "/etc/ves-hv/client.p12",
              "--key-store-password", "onaponap",
              "--trust-store-password", "onaponap"]
    depends_on:
    - ves-hv-collector
    volumes:
      - ./ssl/:/etc/ves-hv/

  dcae-app-simulator:
    image: onap/org.onap.dcaegen2.collectors.hv-ves.hv-collector-dcae-app-simulator
    ports:
    - "6063:6063/tcp"
    command: ["--listen-port", "6063",
              "--kafka-bootstrap-servers", "message-router-kafka:9092",
              "--kafka-topics", "HV_VES_PERF3GPP"]
    depends_on:
    - message-router-kafka

  #
  # Monitoring
  #
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
