version: "2"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      HOSTNAME_COMMAND: "route -n | awk '/UG[ \t]/{print $$2}'"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  hv-collector:
    build:
      context: hv-collector-main
      dockerfile: Dockerfile
    ports:
      - "8081:8081/tcp"
    depends_on:
      - kafka
  xnf-simulator:
    build:
      context: hv-collector-client-simulator
      dockerfile: Dockerfile