[access]
	inheritFrom = dcaegen2/collectors
[project]
	description = High Volume VES Collector
[access "refs/*"]
	owner = group ldap/onap-gerrit-dcaegen2-collectors-hv-ves-committers
	owner = group ldap/onap-gerrit-dcaegen2-committers
	read = group GitHub Replication
	read = group GitHub Replication
